#section{
    justify-content: center;
    align-items: center;
}
.card {
    display: inline-block;
    width: 200px;
    border: solid 1.5px gray;
    margin: 10px;
    border-radius: 15px;
    box-shadow: 5px 5px 10px gray;
    padding: 7px;
    vertical-align: top;
    background-color: rgba(255, 255, 255, 0.8);
}
.title {
    text-align: center;
    font-weight: bold;
    font-size: 25px; 
    font-family: 'Pattaya', sans-serif;
}
.author {
    font-family: 'Pattaya', sans-serif;
    font-size: 12px;
    text-align: right;
}
.description {
    font-family: 'Helvetica', 'Arial', sans-serif;
    word-break: break-all;
}